@font-face {
    font-family: 'IranYekan';
    src: url(../fonts/Yekan.woff);
}

body {
    font-family: 'IranYekan';
    direction: rtl;
    text-align: right;
}

/*  table  */ 
table {
    width: 100%;
}

table, th, td {
    border: 1px solid #6b7280;
}

th, td {
    padding: 10px;
}

tbody > tr:nth-child(even) {
    background-color: #f3f4f6;
}

.swal-button--ok {
    background-color: #E74C3C;
}

.swal-button--ok:hover {
    background-color: #CB4335 !important;
}

.swal-button--confirm {
    background-color: #27ae60 !important;
}

.swal-button--confirm:hover {
    background-color: #2ecc71 !important;
}