@font-face {
    font-family: 'IranYekan';
    src: url(../fonts/Yekan.woff);
}

body {
    font-family: 'IranYekan';
    direction: rtl;
    text-align: right;
}

/*  table  */ 
table {
    width: 100%;
}

table, th, td {
    border: 1px solid #4b5563;
}

th, td {
    padding: 10px;
}

tbody > tr:nth-child(even) {
    background-color: #e5e7eb;
}
